h1,h2,h3{
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

p{
	line-height: 1.4;
}

pre{
	padding: 0px;
}

#content{
	max-width: 750px;
	margin: auto;
	margin-top: 10px;
	padding: 2em;
}

table{
	margin:auto;
}

table tr:nth-child(2n){
	background-color: #d1ecff;
}

table th{
	background-color: #d1ecff;
	border-bottom: 1px solid #000 !important;
}

.search-box{
	width:70%;
}

html{
	height:100%;
}

body {
	height:100%;
	padding-bottom: 115px;
	overflow-x: hidden;
}

.footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #ddd;
	margin-bottom: 0px;
}

#fullscreen{
	height:100%;
	display: flex;
}

#editor{
	font-family: monospace;
	width:50%;
	height: 100%;
	border: 0;
	border-right: 1px solid black;
	padding: 0px;
	resize: none;
	font-size: 0.8em;
}

#preview{
	float: right;
	width:50%;
	height: 100%;
	padding: 50px;
	overflow-y: scroll;
}

.CodeMirror{
	height: 100% !important;
}

#flash_ms{
	font-family: sans-serif;
	font-size:0.8em;
	width: 100%;
	position: fixed;
	top: 100px;
	margin: auto;
	z-index: 10;
}

#flash_m{
	padding: 20px;
	max-width: 500px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 20px 2px lightgrey;
}

#flash_m > button{
	position: relative;
    top: -3px;
}