{% extends "layout.html" %}

{% block title %}
	{{page_title}}
{% endblock %}

{% block content %}

<script src="/static/codemirror-5.38.0/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror-5.38.0/lib/codemirror.css?random={{helpers.random_num()}}">
<script src="/static/codemirror-5.38.0/mode/javascript/javascript.js"></script>
<script src="/static/codemirror-5.38.0/mode/markdown/markdown.js"></script>
<script src="/static/codemirror-5.38.0/mode/python/python.js"></script>
<script src="/static/codemirror-5.38.0/mode/clike/clike.js"></script>
<script src="/static/codemirror-5.38.0/addon/edit/matchbrackets.js"></script>
<script src="/static/codemirror-5.38.0/keymap/sublime.js"></script>
<link rel="stylesheet" href="/static/codemirror-5.38.0/theme/neo.css?random={{helpers.random_num()}}">

<div id="fullscreen">
	<div id="editor"><textarea id="text"></textarea></div>
	<div id="preview"></div>
</div>

<footer class="footer">
	<div style="display: flex; flex-direction: row; justify-content: space-between;">
		<div style="display: flex;">
			
		</div>
		<div style="display: flex; padding: 11px;">
			<a href="javascript:save()" class="btn btn-primary">Save changes</a>
		</div>
	</div>
</footer>


{% endblock %}

{% block end %}
<style type="text/css">
	body{
		overflow: hidden;
	}
</style>

<script type="text/javascript">
	$(function() {converter = new showdown.Converter({'tables':'true'});
	math_reload_needed = false;
	typing = false;setInterval(reload_math,500);})
	function save() {
		$.ajax({
			url:"/api/save/{{page_path}}.md",
			method:"POST",
			data: "text="+encodeURI(btoa(myCodeMirror.getValue())),
			success: function (r) {
				//alert(r);
				window.location.href = window.location.href.replace(/(https?:\/\/.*?\/)(.*)/,"$1");;
			},
			error: function (e) {
				flash("<strong>Error!</strong>  "+JSON.parse(e.responseText)['message'],"alert-danger");
			}
		});
	}
	function reload_preview(c1,c2) {
		var text = myCodeMirror.getValue();
		var html = converter.makeHtml(text);
		$("#preview").empty().append(html);
		$('pre code').each(function(i, block) {hljs.highlightBlock(block);});
		typing = true;
		math_reload_needed = true;
		setTimeout(function(){
			typing = false;
		},1500);
	}
	function reload_math(){
		if (math_reload_needed && (!typing)){
			MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
			math_reload_needed = false;
		}
	}
$(function(){$.ajax({url:"/data/{{page_path}}.md",success:function(text){myCodeMirror.setValue(text);reload_preview()},error:function(){window.location.href=window.location.href.replace(/(https?:\/\/.*?\/)(.*)/,"$1fourohfour");}});myCodeMirror = CodeMirror.fromTextArea($("#text")[0],{lineNumbers: true,mode: "text/x-markdown",matchBrackets: true,keymap:"sublime",theme:"neo"});myCodeMirror.on("change",reload_preview);MathJax.Hub.Queue(["Typeset",MathJax.Hub]);});
</script>
{% endblock %}