<li class="nav-item active">
	<a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/contents"> Contents </a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/editor/{{page_path}}"> Edit </a>
</li>
{% if not session['logged_in'] %}
<li class="nav-item">
	<a class="nav-link" href="/login"> Login </a>
</li>
{% else %}
<li class="nav-item">
	<a class="nav-link" href="/logout"> Logout </a>
</li>
{% endif %}
<li class="nav-item">
	<a class="nav-link" href="/dashboard"> Dashboard </a>
</li>